<h1 style="text-align: center;">Chương trình thông báo về Coronavirus - COVID-19</h1>

<div>
  <table id="data" style="border-collapse: collapse;">
    <tr>
      <th *ngFor="let data of globalData | keyvalue">
        {{ data.key }}
      </th>
    </tr>
    <tr>
      <td *ngFor="let data of globalData | keyvalue">
        {{ data.value }}
      </td>
    </tr>
  </table>
</div>
<br />

<div *ngIf="countriesData && countriesData.length > 0">
  <table id="data" style="border-collapse: collapse;">
    <tr>
      <th *ngFor="let data of countriesData[0] | keyvalue" [hidden]="data.key === 'Premium'">
        <span class="sorting">
          <mat-icon style="cursor: pointer;" (click)="orderBy(data.key, 'asc')">
            arrow_downward
          </mat-icon>
          <mat-icon style="cursor: pointer;" (click)="orderBy(data.key, 'desc')">
            arrow_upward
          </mat-icon>
          <span>&nbsp;{{ data.key }}</span>
        </span>
      </th>
    </tr>
    <tr *ngFor="let row of countriesData">
      <td *ngFor="let data of row | keyvalue" [hidden]="data.key === 'Premium'"
        [style.text-align]="(+data.value).toString() === data.value.toString() ? 'right' : 'left'">
        <span *ngIf="data.key === 'Date'">
          {{ data.value.toString() | date : 'short'}}
        </span>
        <span *ngIf="data.key !== 'Date'">{{ (+data.value).toString() !== data.value.toString() ? data.value :
          (data.value.toString() | number: '0.0') }}</span>
      </td>
    </tr>
  </table>
</div>